<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Plateia.Properties.Settings.frescobol_system_dbConnectionString"
            connectionString="server=localhost;user id=system;password=Sys_4dm1n@;persistsecurityinfo=True;database=frescobol_system_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>